# Backend
backend/target/
backend/.idea/
backend/*.iml
backend/uploads/
backend/temp/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Env secrets
**/.env.local
**/.env.production.local
backend/src/main/resources/application-local.yml
